In [ ]:
#Copia una variable
nombre = 'Alexis'
nombre2= nombre
nombre = 'Eduardo'

print(nombre,nombre2)


numbers = ['one','two','three']
numbers_two=numbers

print(numbers,numbers_two, sep=' \n')
numbers[0] = 'Alexis' #solo esta modificando la primera lista

print(numbers,numbers_two, sep=' \n')

Eduardo Alexis
['one', 'two', 'three']
['one', 'two', 'three']
['Alexis', 'two', 'three']
['Alexis', 'two', 'three']

In [ ]:
numbers = ['one','two','three']
numbers_copy=numbers.copy()

numbers[0] = 'Alexis' #solo esta modificando la primera lista

print(numbers,numbers_copy, sep=' \n')

['Alexis', 'two', 'three']
['one', 'two', 'three']

In [ ]:
numbers= ['one','two','three']
numbers_copy=numbers[:]

numbers[0] = 'Alexis'

print(numbers,numbers_copy, sep=' \n')

['Alexis', 'two', 'three']
['one', 'two', 'three']

In [ ]:
#Marge list
numbers_one=[1,2,3]
numbers_two=[4,5,6]

numbers= numbers_one + numbers_two
print(numbers)

[1, 2, 3, 4, 5, 6]

In [ ]:
numbers_one=[1,2,3]
numbers_two=[4,5,6]

numbers= (numbers_one, numbers_two)
print(numbers)

([1, 2, 3], [4, 5, 6])

In [ ]:
numbers_one=[1,2,3]
numbers_two=[4,5,6]

numbers_one.extend (numbers_two)
print(numbers_one)

([1, 2, 3], [4, 5, 6])

In [ ]:
#ciclo
numbers_one=[1,2,3]
numbers_two=[4,5,6]
for numbers in numbers_two:
  numbers_one.append(numbers)

print(numbers_one)

[1, 2, 3, 4, 5, 6]

In [ ]:
numbers_one=[1,2,3]
numbers_two=[4,5,6]
for numbers in (numbers_one,numbers_two):
  print(numbers)

for numbers in (numbers_one,numbers_two):
  for n in numbers:
    print(n)

numbers= []
for numbers in (numbers_one,numbers_two):
  for n in numbers:
    numbers.append(n)


print(numbers)

[1, 2, 3]
[4, 5, 6]
1
2
3
4
5
6

In [ ]:
#List comprehension

numbers = [n for number in (numbers_one, numbers_two) for n in number]
print(numbers)

[1, 2, 3, 4, 5, 6]

In [ ]:
numbers_one=[1,2,3]
numbers_two=[4,5,6]

numbers = [*numbers_one, *numbers_two]
print(numbers)

[1, 2, 3, 4, 5, 6]